<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been added to a group that belongs to: <%= @sender.username %></h1>
    <p>
      Click below to confirm or deny the invitation.
    </p>
    <p>
      <a href="<%= @confirm_url %>">Confirm</a>
      <a href="<%= @deny_url %>">Deny</a>
    </p>
  </body>
</html>